/** ========= 
	Header
===============*/
header {
    margin-top: 40px;
}
/* căn chỉnh trên 40px để ko đụng vào viền màn hình */

.header__container {
    display: flex;
    /* 2 cột nằm trên cùng một hàng */
    gap: 40px;
    /* khoảng cách 2 cột trái phải là 40px */

    & p {
        color: var(--n-600);
    }

    & span {
        font-weight: 600;
        color: var(--p-950);
    }
}

.header__title {
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
    font-weight: 600;
}
/* đặt các biến h2 font-size và h2 line-height */
/* chỉnh độ cao của chữ là 600px */

.header__column--left {
    display: flex;
    flex: 1;
    /* đặt flex là 1 để mở rộng chiếm hết không gian */
    gap: 24px;
    align-items: center;

    & .header__content--left {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    & .header__badge_container {
        display: flex;
        gap: 6px;
        text-align: center;
    }

    & .badge {
        font-size: var(--caption-font-size);
        line-height: var(--caption-line-height);
        color: var(--p-950);
        padding: 4px 12px;
        background-color: var(--p-50);
        border-radius: 4px;
        /* bo tròn góc */
        
        /* line-clamp */
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        overflow: hidden;
    }
}

.header__column--right {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: end;
    gap: 8px;
}

.header__img {
    border-radius: 100px;
    width: 118px;
    height: 118px;
    box-shadow:
    /* tạo bóng đổ cho hình */
        inset 0px -1px 1px hsla(0, 0%, 100%, 0.5),
        0 4px 6px -1px hsla(0, 0%, 0%, 0.2),
        0 2px 4px -2px hsla(0, 0%, 0%, 0.2),
        inset 0px 1px 3px hsla(0, 0%, 0%, 0.1);
    background-image: url('/assets/assets/avatar.jpg');
    background-position: center;
    /* căn hình ở giữa */
    background-repeat: no-repeat;
    background-size: cover;
    /* hình nền phóng to lắp đầy khung */
    flex-shrink: 0;
}