@import "/CSS/theme.css";
@import '/CSS/sections/about me.css';
@import '/CSS/sections/project.css';
@import '/CSS/sections/header.css';
@import '/CSS/sections/footer.css';
@import '/CSS/sections/skills.css';
/* liên kết, nhúng các file css */

 * {
	box-sizing: border-box;
}
/* cho văn bản vào hộp thoại */

:root {
	font-size: var(--p-font-size);
	line-height: var(--p-line-height);
	letter-spacing: var(--p-letter-spacing);
	font-family: "Chakra Petch", sans-serif;
	font-weight: 400;
	font-style: normal;
	scroll-behavior: smooth;
}
/* đặt biến: */
/* biến cỡ chữ */
/* biến chiều cao chữ */
/* biến chiều rộng chữ */
/* kiểu chữ chính là Chakra Petch và kiểu chữ dự phòng là sans-serif */
/* độ đậm chữ là 400 */
/* kiểu chữ bthg ko nghiêng */
/* hiệu ứng khi lăn chuột là smooth */

body {
	/* background pattern */
	background-color: var(--foreground-color);
	background-size: 7px 7px;
	background-image: repeating-linear-gradient(45deg,
			hsla(var(--p-500-code), 0.1) 0,
			hsla(var(--p-700-code), 0.1) 0.7000000000000001px,
			var(--foreground-color) 0,
			var(--foreground-color) 50%);
}

a {
	text-decoration: none;
}
/* xóa gạch chân mặc định của các thẻ a */

section {
	margin-top: 120px;
	margin-bottom: 120px;
}

.container {
	margin: 0 auto;
	max-width: 1536px;
	padding: 0 2rem;
}
/* căn chỉnh 0px trên dưới và auto cho trái phải */
/* giá trị mặt định của container */
/* 0px trên dưới, 2rem trái phải */

.section__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.section__title {
	font-size: var(--h1-font-size);
	line-height: var(--h1-line-height);
	font-weight: bold;
	color: var(--p-950);
	text-transform: capitalize;
}

/* text - transform: capitalize dùng để viết hoa những chữ đầu dòng */

.section__description {
	text-align: center;
	max-width: 65ch;
    /* chiều rộng tối đa là 65 ký tự */
	color: var(--n-500);
}