body {
  /* choose font word, color, space between line, background color, set information inside page */
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #fff;
  background: #a9a9a9;
  padding: 30px;
  font-size: large;
}
/* limit width and height of picture  */
.contact img {
  width: 300px;
  height: 320px;
  /* cut image and fill it in a size which is seted width and height */
  object-fit: cover;
  box-shadow: #990000 5px 5px, #bb0000 10px 10px, #dd0000 15px 15px;
  /* create space under img */
  margin-bottom: 10px;
}
/* make the text like a box */
.contact {
  /* set up color, width, height background of the section like a box with radius line */
  background: #353437;
  border-radius: 10px;
  /* create space under box */
  margin-bottom: 20px;
  /* set align of text is left */
  text-align: left;
  /* space between border of background and text */
  padding: 25px;
  box-shadow: -33px 41px 50px -15px rgba(63, 63, 63);
}
.unlist {
  /* delete orginal symbol of list and set list represent in 1 line */
  list-style-type: none;
  display: inline-flex;
  /* space between 2 item */
  gap: 40px;
}
.linkinfo a {
  color: #fff;
  /* hide the line under work which access link */
  text-decoration: none;
  /* set text in center and size of text */
  text-align: center;
  font-size: 20px;
}
/* create line under skill */
.linear-gradient-1 {
  /* similar to create the line have thickness */
  height: 6px;
  /* use color have Gradient by https://cssgradient.io/ */
  background: #ffae00;
  background: linear-gradient(
    90deg,
    rgba(255, 174, 0, 1) 0%,
    rgba(255, 0, 0, 1) 100%
  );
  border-radius: 2px;
  width: 250px;
}
/* create line under skill */
.linear-gradient-2 {
  height: 6px;
  /* use color have Gradient by https://cssgradient.io/ */
  background: #ffae00;
  background: linear-gradient(
    90deg,
    rgba(255, 174, 0, 1) 0%,
    rgba(255, 0, 0, 1) 100%
  );
  border-radius: 2px;
}
/* create line under skill */
.linear-gradient-3 {
  height: 6px;
  /* use color have Gradient by https://cssgradient.io/ */
  background: #ffae00;
  background: linear-gradient(
    90deg,
    rgba(255, 174, 0, 1) 0%,
    rgba(255, 0, 0, 1) 100%
  );
  border-radius: 2px;
  width: 200px;
}
/* create line under skill */
.linear-gradient-4 {
  height: 6px;
  /* use color have Gradient by https://cssgradient.io/ */
  background: #ffae00;
  background: linear-gradient(
    90deg,
    rgba(255, 174, 0, 1) 0%,
    rgba(255, 0, 0, 1) 100%
  );
  border-radius: 2px;
  width: 260px;
}
/* make a text like a box */
.introduction {
  /* set up color, width, height background of the section like a box with radius line */
  background: #353437;
  border-radius: 10px;
  /* make introduction box can elastic to fill the whitespace of pages which depend on size of page and device  */
  flex: 1;
  /* space between text and border of background */
  padding: 30px;
  box-shadow: 28px 25px 50px -15px rgba(63, 63, 63);
}
/* to make introduction and contact will be in the item in flexbox. To introduction and contact box in the row */
.flexbox {
  display: flex;
  gap: 20px;
  /* to hold 2 box on top, not be lengthen */
  align-items: flex-start;
  /* make when scroll page it will arange contact is first after that is introduction, education, certification */
  flex-wrap: wrap;
}
/* set background color of box education like box introduction */
.education {
  background-color: #353437;
  border-radius: 10px;
  /* set space between border and text */
  padding: 30px;
  /* the box will extand to fill full white space */
  flex: 1;
  box-shadow: 28px 25px 50px -15px rgba(63, 63, 63);
}
.arrange {
  /* set introduction, education and certification will be in a flex box to set it like column */
  display: flex;
  /* set type of flexbox is column */
  flex-direction: column;
  /* space between boxes */
  gap: 46px;
  /* the box will extand to fill full white space */
  flex: 1;
}
.Certification {
  /* make certification like a box */
  background-color: #353437;
  border-radius: 10px;
  /* space between border and text in box */
  padding: 30px;
  /* the box will extand to fill full white space */
  flex: 1;
  box-shadow: 42px 50px 50px -15px rgba(63, 63, 63);
  margin-bottom: 40px;
}
