/* căn chỉnh máy tính ở giữa, màu background */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    margin: 0;
}
/* định dạng phần thân máy tính */
#calculator{
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
/* định dạng phần hiển thị kết quả */
#display{
    width: 100%;
    font-size: 5rem;
    text-align: right;
    padding: 40px 25px 20px 25px;
    box-sizing: border-box;
    border: none;
    background-color: #2e2e2e;
    color: white;
}
/* định dạng phần các phím */
#keys{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
/* định dạng các nút bấm */
button{
    width: 100%;
    height: 100px;
    font-size: 3rem;
    border-radius: 100%;
    border: none;
    background-color: #3b3b3b;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
/* tạo hiệu ấn khi ấn nút */
button:hover{
    background-color: #575757;
}
button:active{
    background-color: #737373;
}
.operator-btn{
    background-color: #ff9500;
}
.operator-btn:hover{
    background-color: #ffa733;
}
.operator-btn:active{
    background-color: #ffb966;
}
.operator-btn-2{
    background-color: #d4d4d2;
    color: black;
}
.operator-btn-2:hover{
    background-color: #e5e5e3;
}
.operator-btn-2:active{
    background-color: #FFFFFF;
}
/* định dạng vị trí nút bằng dấu bằng */
.equal{
    grid-column:4;
}
/* định dạng nút số 0 */
.zero{
    grid-column: 1 / span 2;
    border-radius: 50px;
    text-align: left;
    padding-left: 40px;
}